India
Srilanka 
Nepal
Australia
America

In [5]:
print("* India","Srilanka","Nepal","Australia","America",sep="\n" *)

SyntaxError: invalid syntax (2050979096.py, line 1)

# >python string practic

In [13]:
#Use the len method to print the length of the string
x = "Hello World"
print(len(x))

11

In [2]:
#strip method
txt=" hello world "
x=txt.strip()
print(txt)

 hello world

In [8]:
#upper case
txt="hello world"
txt=txt.upper()
print(txt)

HELLO WORLD

In [11]:
#lower case
txt="HellO WOrlD"
txt=txt.lower()
print(txt)

hello world

In [6]:
#Replace the character H with a J.
txt = "Hello World"
txt = txt.replace("H" , "J")
print(txt)

Jello World

In [12]:
#Insert the correct syntax to add a placeholder for the age parameter.
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [14]:
#The statement below would print a Boolean value, which one?
print(10 > 9)

True

In [15]:
#The statement below would print a Boolean value, which one?
print (10==9)

False

In [16]:
#The statement below would print a Boolean value, which one?
print(10<9)

False

In [17]:
#The statement below would print a Boolean value, which one?
print(bool("abc"))

True

In [18]:
#The statement below would print a Boolean value, which one?
print(bool(0))

False

# >python operator

In [19]:
#Multiply 10 with 5, and print the result.
print(10*5)

50

In [22]:
#Use the correct membership operator to check if "apple" is present in the fruits object.
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [23]:
#Use the correct comparison operator to check if 5 is not equal to 10.
if 5 !=10:
  print("5 and 10 is not equal")

5 and 10 is not equal

In [24]:
#Use the correct logical operator to check if at least one of two statements is True.
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

At least one of the statements is true

# >python list

In [26]:
#Print the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [30]:
#Change the value from "apple" to "kiwi", in the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits[0]= "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [35]:
#Use the append method to add "orange" to the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [36]:
#Use the insert method to add "lemon" as the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [37]:
#Use the remove method to remove "banana" from the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [38]:
#Use negative indexing to print the last item in the list.
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [39]:
#Use a range of indexes to print the third, fourth, and fifth item in the list.
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [40]:
#Use the correct syntax to print the number of items in the list.
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

# > python tuples

In [41]:
#Use the correct syntax to print the first item in the fruits tuple.
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [42]:
#Use negative indexing to print the last item in the tuple.
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

In [43]:
#Use a range of indexes to print the third, fourth, and fifth item in the tuple.
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

# > python sets

In [47]:
#Check if "apple" is present in the fruits set.
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
 print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [49]:
#Use the add method to add "orange" to the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'apple', 'banana', 'cherry'}

In [3]:
#Use the add method to add "orange" to the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'banana', 'cherry', 'apple'}

In [4]:
#Use the correct method to add multiple items (more_fruits) to the fruits set.
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'orange', 'apple', 'banana', 'cherry', 'mango', 'grapes'}

In [5]:
#Use the remove method to remove "banana" from the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [6]:
#Use the discard method to remove "banana" from the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

# >python dictionary

In [8]:
#Use the get method to print the value of the "model" key of the car dictionary.
car =	{"brand": "Ford","model": "Mustang","year": 1964}
print(car.get("model"))

Mustang

In [10]:
#Change the "year" value from 1964 to 2020.
car =	{"brand": "Ford","model": "Mustang","year": 1964}
car["year"]= 2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [11]:
#Add the key/value pair "color" : "red" to the car dictionary.
car={"brand": "Ford","model": "Mustang","year": 1964}
car["color"]="red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [12]:
car={"brand":"ford","model":"mustang","year":1964}
car["color"]="red"
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'red'}

In [13]:
#Use the pop method to remove "model" from the car dictionary.
car={"brand": "Ford","model": "Mustang","year": 1964}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [14]:
#Use the clear method to empty the car dictionary.
car={"brand": "Ford","model": "Mustang","year": 1964}
car.clear()
print(car)

{}

# >Python If.....Else

In [17]:
#Print "Hello World" if a is greater than b.
a = 50
b = 10
if a > b:
    print("Hello World")

Hello World

In [19]:
#Print "Hello World" if a is not equal to b.
a = 50
b = 10
if a != b:
    print("Hello World")

Hello World

In [21]:
#Print "Yes" if a is equal to b, otherwise print "No".
a = 50
b = 10
if a == b:
    print("Yes")
else:
  print("No")

No

In [25]:
#Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".


a = 50
b = 30
if a == b:
  print("1")
elif a > b:
    print("2")
else:
    print("3")

2

In [27]:
#Print "Hello" if a is equal to b, and c is equal to d.
a=10
b=10
c=60
d=60
if a == b and c == d:
  print("Hello")

Hello

In [28]:
#Print "Hello" if a is equal to b, or if c is equal to d.
if a == b or c == d:
    print("Hello")

Hello

SyntaxError: invalid syntax (3241350940.py, line 3)